/* Remove unnecessary custom styles as MUI will handle most styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; /* MUI default font */
}
.App {
  background-image: url('../public/images/background.webp'); /* Path to the saved image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Black overlay with 50% transparency */
  z-index: -1; /* Place it behind the content */
}
